.space {
  margin-top: 80px;
  margin-bottom: 40px;
}

@media screen and (min-width: 640px) {
  .space {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .space {
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .space-3 {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .space {
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .space-2 {
    margin-top: 180px;
    margin-bottom: 180px;
  }
  .space-3 {
    padding-left: 0px;
    padding-right: 0px;

    div {
      padding: 16px;
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .space {
    margin-top: 250px;
    margin-bottom: 250px;
  }
  .space-2 {
    margin-top: 270px;
    margin-bottom: 270px;
  }
  .space-3 {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 36px;
    padding-right: 36px;

    div {
      padding: 16px;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1536px) {
  .space {
    margin-top: 300px;
    margin-bottom: 300px;
  }
}

.img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.img-2 {
  width: 50%;
}

@media screen and (min-width: 640px) {
  .img {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 70%;
    align-self: center;
  }
  .img-2 {
    width: 35%;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .img {
    width: 35%;
  }
  .img-2 {
    width: 30%;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .img {
    width: 35%;
  }
  .img-2 {
    width: 30%;
  }
}

@media screen and (min-width: 1536px) {
  .img {
    width: 35%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 16px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    align-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 18px;
    gap: 16px;
  }
  .space-6 {
    flex: 1;
    max-width: 460px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    gap: 38px;
  }

  .space-6 {
    flex: 1;
    max-width: 700px;
  }
}

.mind-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mind-flex {
    flex-direction: row;
    text-align: left;
  }
}
