@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mindbeam";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype"),
    url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "mindbeam";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.title {
  @apply text-primary font-bold font-mindbeam xl:text-4xl lg:text-3xl md:text-xl text-xs xl:pb-5 lg:pb-5 leading-tight;
}
