@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mindbeam";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype"),
    url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "mindbeam";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.title-xl {
  @apply text-primary font-bold font-mindbeam xl:text-5xl lg:text-4xl text-3xl leading-tight;
}
